
    <div id="slider1_container">
      <div u="slides" class="slider1_images">
        <div>
          <%= image_tag "familyRecycle.jpg", data: {u: 'image'}%>
          <div u=caption t="CLIP|LR" du="1500" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:400px; height:30px;">
          Dont trash Houston's future : Recycle.
          </div>
          <div u=caption t="L|IB" t2=L d=-900 class="captionBlack"  style="position:absolute; left:360px; top: 130px; width:60px; height:30px;">
          Every
          </div>
          <div u=caption t="RTT|360" d=-200 class="captionBlack"  style="position:absolute; left:360px; top: 180px; width:60px; height:30px;">
          Item
          </div>
          <div u=caption t="DDGDANCE|RB" t2="RTT|10" d=-1800 du=3800 class="captionOrange" style="position:absolute; left:560px; top: 110px; width:115px; height:100px; text-align: center; padding: 5px">
              Can Make A Difference<br>
              &nbsp;
          </div>
          <div u=caption t="T|IE*IE" d=-1600 du=3800 t2="B" class="captionOrange" style="position:absolute; left:20px; top: 310px; width:115px; height:30px;">
              Start
          </div>
          <div u="caption" t="ZMF|10" t2="B" d=-1300 style="position:absolute;left:420px;top:280px;width:90px;height:40px;font-size:36px;color:#fff;line-height:40px;" class="captionBlack">The</div>
          <div u="caption" t="CLIP|L" d=-300 style="position:absolute;left:520px;top:280px;width:160px;height:40px;font-size:36px;color:#fff;line-height:40px; text-align: center;" class="captionBlack">Change</div>
          <a class="captionOrange" u="caption" t="CLIP|L" d=-300 href="http://www.houstontx.gov/solidwaste/recycling/" style="position:absolute;left:720px;top:280px;width:120px;height:40px;font-size:36px;color:#fff;line-height:40px;">Now</a>
        </div>
        <div>
          <%=image_tag "girlRecycle.jpg", data: {u: 'image'}%>
          <div u=caption t="CLIP|LR" t2="B" du="2000" class="captionOrange"  style="position:absolute; left:20px; top: 300px; width:300px; height:30px;">
          Some interesting facts
          </div>
          <div u="caption" t="MCLIP|T" t2="T" d=-450 style="position:absolute;left:355px;top:40px;width:630px;height:30px;font-size:18px;color:#fff;line-height:30px;text-align:center;" class="tableCaption">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Value&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Meaning</div>
          <div u="caption" t="MCLIP|R" d=-300 style="position:absolute;left:325px;top:90px;width:630px;height:30px;font-size:18px;color:#fff;line-height:30px;" class="tableCaption">Houston's Recycling Rate&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 2%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Lowest in the Country</div>
          <div u="caption" t="MCLIP|R" d=-300 style="position:absolute;left:325px;top:140px;width:630px;height:30px;font-size:18px;color:#fff;line-height:30px;" class="tableCaption" >Money Saved from Recycling&nbsp; &nbsp; &nbsp;150$/ton&nbsp; &nbsp; Profit</div>
          <div u="caption" t="MCLIP|R" d=-300 style="position:absolute;left:325px;top:190px;width:630px;height:30px;font-size:18px;color:#fff;line-height:30px;" class="tableCaption" >A Cleaner City&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Priceless&nbsp; &nbsp; Take Action</div>
        </div>
        <div>
          <%= image_tag 'kidsRecycle.jpg', data: {u: 'image'}%>
          <div u=caption t="L" d=-750 class="captionOrange"  style="position:absolute; left:20px; top: 300px; width:130px; height:65px;">
          The Choice is
          </div>
          <div u=caption t="CLIP|L" t2=B d=-450 class="captionBlack"  style="position:absolute; left:160px; top: 300px; width:60px; height:30px;">
          Yours -
          </div>
          <div u=caption t="DDG|TR" t2="TORTUOUS|VB" d=-750 class="captionOrange"  style="position:absolute; left:230px; top: 300px; width:110px; height:30px;">
          Save it
          </div>
          <div u=caption t="RTT|10" d=-450 class="captionBlack"  style="position:absolute; left:430px; top: 240px; width:30px; height:30px;">
          Or
          </div>
          <div u=caption t="TORTUOUS|VB" d=-750 class="captionOrange"  style="position:absolute; left:590px; top: 220px; width:80px; height:65px;">
          Waste It!
          </div>
        </div>
        <div>
          <%= image_tag 'family2Recycle.jpg', data: {u: 'image'}%>
          <div u="caption" t="WV|B" t2="T" d=-600 class=bricon style="position:absolute; top:50px; left: 220px; width:30px; height:30px; background-position: 0px 0px;"></div>
          <div u="caption" t="WV|B" t2="T" d="-1100" class=bricon style="position:absolute; top:100px; left: 220px; width:30px; height:30px; background-position: -30px 0px;"></div>
          <div u="caption" t="WV|B" t2="T" d="-1100" class=bricon style="position:absolute; top:150px; left: 220px; width:30px; height:30px; background-position: -60px 0px;"></div>
          <div u="caption" t="WV|B" t2="T" d="-1100" class=bricon style="position:absolute; top:200px; left: 220px; width:30px; height:30px; background-position: -90px 0px;"></div>
          <div u="caption" t="WV|B" t2="T" d="-1100" class=bricon style="position:absolute; top:250px; left: 220px; width:30px; height:30px; background-position: -120px 0px;"></div>
          <div u="caption" t="LISTH|R" t2="CLIP|TB" d=-600 class=captionOrange style="position: absolute; top: 40px; left: 280px; width: 180px;
              height: 250px; text-align: left; line-height: 50px;">
                  &nbsp; Keep Track of<br />
                  &nbsp; Your Recyling<br />
                  &nbsp; On the Web<br />
                  &nbsp; With H-Recycle!<br />
                  &nbsp;
          </div>
          <img u="caption" t="RTTL|BR" d=-450 src="img/moc-ipad.png" style="position:absolute;left:750px;top:220px;width:77px;height:100px;" />
        </div>
      </div>
    </div>
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="landing-icon"  data-icon="&#xe602">
            </div>
            <h2><strong>Organize your recyeling by recording them.</strong></h2>
            <p class="lead">Recyling is a diffcult process. If you don't keep track of what you recycle it is diffcult to undertstand exaclty how much you are throwing away. With H-Recycle, you can easily keep track of how much and when you recycle</p>
          </div>
          <div class="col-sm-4">
            <div class="landing-icon" data-icon="&#xe9ac">
            </div>
            <h2><strong>Improve clean habits for the environment.</strong></h2>
            <p class="lead">Very few people understand that more than 75% of trash is recyclable, but the average americans only recycle about 20%. Worst yet, the city of Houston as the lowest rate of recyclign in the USA, at only an aymbissl 2%</p>
          </div>
          <div class="col-sm-4">
            <div class="landing-icon" data-icon="&#xe601">
            </div>
            <h2><strong>Make your Houston a better place to live.</strong></h2>
            <p class="lead">It is important to start recycling for the future of Houston and our children. This app hopes to encourage people to recycle by making it easy to keep track of how much each indivudal and districuts in houston are recyling</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 hidden-sm">
            <%= image_tag "H-RecycleLogo.jpg", data: {u: 'image'} %>
          </div>
          <div class="col-md-4 hidden-sm">
            <h3>It just takes a little.</h3>
            <p class="mute">
              Recycling takes little effort on your part. Even though each contribution may not be great, they all add up to make a big difference to Houston. What's your excuse? Let's join the crusade. <i>H-Recycle</i> &copy; 2015
            </p>
          </div>
          <div class="col-md-4 text-center">
            <h3>Social Media</h3>
            <ul class="nav">
              <a href="#" class='btn-social btn-btn-landing'><li class="fa fa-fw fa-twitter twitter-logo"></li></a>
              <a href="#" class='btn-social btn-btn-landing'><li class="fa fa-fw fa-facebook facebook-logo"></li></a>
              <a href="#" class='btn-social btn-btn-landing'><li class="fa fa-fw fa-google-plus googlePlus-logo"></li></a>
            </ul>
          </div>
      </div>
    </footer>
